@import 'font-awesome';
@import 'box-sizing';
@import 'cssgram';
@import 'base';

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-family: sans-serif;
}

.article__info {
  display: flex;
  justify-content: center;
}

.article {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: $gutter;
}

.pic-and-details {
  width: 50%;
}

.article__photo {
  width: 100%;
  @extend %inkwell;
}

.article__info-text {
  display: flex;
}

.photo__date-stamp {
  margin-top: 0.4rem;
}

.picture__title {
  margin-top: 0;
  margin-right: $gutter;
  color: $brand-white;
}

.photo__details {
  width: 50%;
  padding-left: 1rem;
  list-style-type: none;
  margin-top: 0.5rem;
}

.pic-details__item {
  font-size: 1rem;
}

.camera {
  display: flex;
  align-items: center;
}

.info__camera {
  margin-left: 0.3rem;
  color: $brand-red;
}

// .fa {
//   padding-right: 0.5rem;
//   color: $brand-light-gray;
// }

// .article-2 {
//   margin-top: 20%;
// }

.end-of-main {
  display: flex;
  justify-content: center;
  width: 76%;
}

.by {
  color: $brand-white;
}

.stefan {
  margin-left: 1rem;;
}
