$brand-dark-gray: #212121;
$brand-white: #f4f4f4;
$brand-light-gray: #585558;
$brand-red: #ef5350;
$gutter: 2rem;
$max-content-width: 60rem;


body {
  margin: 0 auto;
  font-family: sans-serif;

  background: $brand-dark-gray;
}
