// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'cssgram';
@import 'article';
@import 'base';
@import 'footer';

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;

  color: $brand-light-gray;
}

.menu__left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20rem;
  margin-top: 1rem;
}

.logo {
  display: flex;
  font-size: 1.5rem;
}

.name {
  margin: 0;
  color: $brand-red;
}

.site-name {
  margin: 0;
}

.menu__right {
  display: flex;
  padding-right: 2rem;
}

.work {
  margin-right: 3rem;
  margin-left: 3rem;

  color: $brand-red;
}

.main {
  color: $brand-white;
}


.header {
  position: relative;

  margin: 0;
}

.avatar__gram {
  @extend %inkwell;
  max-width: 10rem;

  margin: auto;
  border-radius: 50%;
}

.avatar {


  border-radius: 50%;
}

.fa-caret-down {
  position: absolute;
  margin: 0;
  top: 36%;
  right: 49.3%;
  color: $brand-red;
}

.site-title {
  text-align: center;

}
